@import "tailwindcss";

@theme inline {
  --color-brand-cream: #FFFFF2;
  --color-brand-navy: #152942;
  --color-brand-gold: #E49804;
  --color-brand-navy-dark: #0e1f32;
  --color-brand-navy-light: #1e3a5c;

  --font-cairo: "Cairo", sans-serif;
}

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #FFFFF2;
    color: #152942;
    font-family: "Cairo", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
